<footer>
    <nav>
        <ul class="flat">
            <li>
                <div id="copyright">{{ .Site.Copyright }}</div>
            </li>
            {{ range .Site.Menus.footer }}
            <li>
                <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
    <script>feather.replace()</script>
</footer>
